<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>samObj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>316C1B361E2E1935001B24B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316C1B521E2E1935001B24B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316C1B5D1E2E1936001B24B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
